h1 {
    font-family: 'Consoles', monospace, Arial, sans-serif;
    color: rgb(16, 1, 1);
}

body {
    font-family: 'Consoles', monospace, Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ddddddcd;
    text-align: center;
}

header {
    font-family: 'Consoles', monospace, Arial, sans-serif;
    background-color: #ddddddcd;
    color: rgb(22, 2, 2);
    padding: 1em;
}

main {
    padding: 20px;
    line-height: 1.9;
}

p {
    color: #100101;
}

footer {
    background-color: #ddddddcd;
    color: rgb(34, 7, 7);
    padding: 1em;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}


