<!doctype html>
<html>
<head>
  <title><!--# echo var="title" --></title>
  <link rel="stylesheet" href="/assets/stylesheets/application.css">
  <!-- ios -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <script src="https://cdn.tailwindcss.com"></script>
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Consoles&display=swap');
  </style>

  <body>
    <div class="min-h-screen flex flex-col max-w-5xl mx-auto p-2 lg:p-8">
